<!--SEVEN(or SIX, they are dependent upon one another): create UI pages with html-->
<!--homePage: entry point of app, registerInvoicePage: fill the form and register an invoice,-->
<!--allInvoicesPage: see the list of registered invoices, editInvoicePage: to update invoice data-->

<!--<html xmlns:th="https://www.thymeleaf.org/">-->
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body class="bg-gray-200 font-sans flex flex-col items-center">
    <div class="bg-indigo-700 w-full px-4 py-3 flex justify-center border-b-4 border-pink-500">
    <div class="max-w-4xl w-full">
        <div class="flex items-center justify-between text-pink-500">
            <div>
                <h3>Welcome to Invoice MVC App</h3>
            </div>
            <div class="card-body">
                <form>
                    <a th:href="@{/invoice/register}" button class="bg-blue-500 hover:bg-blue-400 text-white font-bold
                       py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Add Invoice</a>
                    <a th:href="@{/invoice/getAllInvoices}" button class="bg-blue-500 hover:bg-blue-400 text-white
                    font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">Show All Invoices</a>
                </form>
            </div>
        </div>
    </div> </div>
</body>
</html>